canvas {
	display: block;
	margin: 0 auto;
}

body {
	background-color: #DADCE8;
}

h1 {
	text-align: center;
	color: #784965;
	text-align: center;
	font-size: 60px;
	font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
	text-align: center;
	color: #5B4978;
	text-align: left;
	font-size: 30px;
	font-family: 'Open Sans Condensed', sans-serif;
}

a {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #181842;
	font-size: 25px;
}

a:hover {
	color: #339999
}
