canvas {
	display: block;
	margin: 0 auto;
}

body {
	background-color: #AAB6C4;
}

h1,
h2 {
	color: #181842;
	text-align: center;
	font-size: 40px;
	font-family: 'Nixie One', cursive;
}

a {
	color: #ffffff;
	font-family: 'Nixie One', cursive;
}
