body{ 
    background-color:black;
}

h1,h2,{color:#00BFFF;
            text-align: center;
            font-size: 40px; 
            font-family:'Nixie One', cursive;
        }
h4{color:white;
            text-align: center;
            font-size: 40px; 
            font-family:'Nixie One', cursive;
        }
a{color:#ffffff;
font-family:'Nixie One', cursive;}


